<?xml version="1.0"?>
<config>
    <modules>
        <Creativestyle_Configmonitor>
            <version>0.1.0</version>
        </Creativestyle_Configmonitor>
    </modules>
    <global>
        <blocks>
            <creativestyle_configmonitor>
                <class>Creativestyle_Configmonitor_Block</class>
            </creativestyle_configmonitor>
        </blocks>
        <helpers>
            <creativestyle_configmonitor>
                <class>Creativestyle_Configmonitor_Helper</class>
            </creativestyle_configmonitor>
        </helpers>
        <resources>
            <creativestyle_configmonitor_setup>
                <setup>
                    <module>Creativestyle_Configmonitor</module>
                </setup>
            </creativestyle_configmonitor_setup>
        </resources>
        <events>
            <model_save_before>
                <observers>
                    <creativestyle_configmonitor>
                        <type>singleton</type>
                        <class>creativestyle_configmonitor/observer</class>
                        <method>before_save</method>
                    </creativestyle_configmonitor>
                </observers>
            </model_save_before>
        </events>
        <models>
            <creativestyle_configmonitor>
                <class>Creativestyle_Configmonitor_Model</class>
                <resourceModel>creativestyle_configmonitor_resource</resourceModel>
            </creativestyle_configmonitor>
            <creativestyle_configmonitor_resource>
                <class>Creativestyle_Configmonitor_Model_Resource</class>
                <entities>
                    <cs_configmonitor>
                        <table>cs_configmonitor</table>
                    </cs_configmonitor>
                </entities>
            </creativestyle_configmonitor_resource>
        </models>
    </global>
    <admin>
        <routers>
            <configmonitor_router>
                <use>admin</use>
                <args>
                    <module>Creativestyle_Configmonitor_Adminhtml</module>
                    <frontName>configmonitor</frontName>
                </args>
            </configmonitor_router>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <creativestyle_configmonitor>
                    <file>creativestyle_configmonitor.xml</file>
                </creativestyle_configmonitor>
            </updates>
        </layout>
    </adminhtml>
</config>